@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.container {
  border-radius: 18px;
  color: #ffffff;
  width: 40vw;
  position: absolute;
  left: 85%;
  top: 44%;
  transform: translate(-66%, -30%);
  margin-top: 20px;
}
h2 {
  font-size: 20px;
}
.nameField label {
  display: inline-block;
  width: 100px;
  color: green;
  font-size: 20px;
}
.nameField input {
  padding: 5px 20px;
  color: green;
  font-size: 20px;
  border: 3px solid green;
}

.nameField input::placeholder {
  color: coral;
}
.sizeField {
  margin: 5px;
}
.toppings {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  margin: 10px 0;
}
.toppings div {
  padding: 5px;
}

#deliveryOptions {
  padding: 0 20px;
}
.price {
  margin-top: 10px;
  font-size: 20px;
}
#submit {
  padding: 10px 20px;
  background-color: coral;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}
